@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.title {
  color: #5F6F8E;
  font-family: 'Quicksand';
  font-style: normal;
  font-size: 78px;
  font-weight: 800;
  line-height: normal;
  text-align: center;
}

.subtitle {
  color: #A3A3A3;
  font-family: 'Quicksand';
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

/* Containers */
.main-container {
  align-items: center;
  background: #F4F7F9;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: flex;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
  justify-content: space-evenly;
  width: 100%;
  height: 568px;
}

.icons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 42%;
}

.content-container {
  height: 85%;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.back-button-container {
  display: flex;
  align-items: center;
  width: 90%;
  color: #5F5F5F;
}

.text-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.message-container {
  display: flex;
  align-items: center;
  font-size: 28px;
  color: #5F5F5F;
  font-family: 'Montserrat';
}

.message-container > span {
  text-align: center;
}

.loader {
  padding-bottom: 1em;
}

.pastel {
  color: #849FC4;
}

.montserrat {
  font-family: 'Montserrat';
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 128px;
  width: 100%;
}

.long-button {
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  height: 48px;
  width: 80%;
  max-width: 238px;
  background: #879EC9;
}

.long-button:disabled {
  background: #86888A;
  text-decoration: line-through;
}

.button-text {
  font-family: 'Raleway';
  font-size: 24px;
  color: #FFF;
}

.icon-button {
  cursor: pointer;
  height: 96px;
  width: 96px;
  background: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: .75em;
  color: #5F6F8E;
  font-weight: bold;
  text-align: center;
}

.icon-button:hover {
  color: #879EC9;
}

a {
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: center;
}

.calendar {
 border-radius: 8px;
 background: #FFF;
 box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.11);
}

.input-field {
  height: 48px;
  width: 80%;
  border: 1px solid #EDF0F2;
  border-radius: 6px;
  text-align: center;
  color: #5F5F5F;
  font-size: 1.2em;
  max-width: 238px;
}

::placeholder {
  opacity: 0.2;
}

.item + .item {
  border-top: 1px solid #EDF0F2;
}

.row {
  width: 100%;
  display: flex;
}

.row + .row {
  padding-top: 1em;
}
